html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "header header nav"
    "div div div"
    "main main main"
}

img {
  display: block;
  width: 100%;
}

header {
  margin: 1.5rem;
}

nav {
  grid-column: 2;
  grid-row: 1;
}

ul {
  display: flex;
}

div {
  text-align: center;
}

main {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

footer {
  text-align: center;
}
